<p>
  login works!
</p>
<form class="example-form">
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your Name" #name name="user_name" [(ngModel)]="user.user_name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input name="user_password" matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'"
        #email [(ngModel)]="user.user_password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <button mat-button (click)="Login()">כניסה</button>
  </div>
</form>